<html>
	<head>
		<script type="text/javascript">
		</script>

		<style type="text/css">
		
		.sessionTitle {
			width: 750px;
			height: 43px;
			background: blue;
			border: 1px solid #CCCCCC;
			display: block;
			border-radius: 5px;
		}
		.sessionTitle:hover {
			background: white;
			
		}
		.sessionTitle img {
			float: left;
			padding-left: 18px;
			padding-top: 17px;
		}
		.detailInfo {
			display: block;
			width: 750px;
			padding: 20px 0;
			background: Lightblue;
			border-radius: 5px;
		}
		h3.white_detail {
			display: block;
			color: #FFF;
			font-size: 17px;
			margin-left: 20px;
			padding-left: 25px;
			margin-top: 12px;
			cursor: pointer;
		}
		

		p {
			font-family: Times;
			font-size: 17px;
			
		}	
		h1 {
			padding-left: 75px;

		}
		h6 {
			color:  #999;
			padding-left: 140px;
			
		}
		
		</style>

		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			// Detailed Info expand and collapse
			$(".detailInfo").hide();
			$(".sessionTitle").click(function() {
				if($(this).next(".detailInfo").css("display")=="none") {
					$(this).next(".detailInfo").show();
					$(this).find("img").attr("src", "");
				}
				else {
					$(this).next(".detailInfo").hide();
					$(this).find("img").attr("src", "");
				}
			});
		});
		</script>
	</head>
	<body>
		<h1>About the project</h1>
		<h6>(Click on desired section)</h6>
		<div class="sessionTitle">
			<img src="" />
			<h3 class="white_detail"><a href="#">Who are we?</a></h3>
		</div>
		<div class="detailInfo">
			<p>A group of students studying in the United States. We seek to impact the lives of people especially our brothers from Haiti in any ways possible</p>
		</div>


		<div class="sessionTitle">
			<img src="" />
			<h3 class="white_detail"><a href="#">What do we do?</a></h3>
		</div>
		<div class="detailInfo">
			<p>Florvilson Marcelin and myself, Jodex Saint-Vil are currently studying in college. Florvilson is getting his master's degree in MBA and i am an undergraduate student majoring in Computer science and minoring in math. What do i do when i am not studying or programming?
			<b>Playing FIFA most likely</b></p>
		</div>

		<div class="sessionTitle">
			<img src="" />
			<h3 class="white_detail"><a href="#">When did we start?</a></h3>
		</div>
		<div class="detailInfo">
			<p>Started thinking about working on that project about a year from now</p>
		</div>
	</body>
</html>