<div class="jumbotron">
  <h1><i class="fa fa-circle-o-notch"></i> AchtePiFasil</h1>
  <p>Pour plus d'info sur notre successful project, cliquez sur le link suivant</p>
  <%= link_to "More Info", about_path, class: "btn btn-primary btn-lg" %>
</div>


