<html>
	<head>
		<script type="text/javascript">
		</script>

		<style type="text/css">
		
		.sessionTitle {
			width: 750px;
			height: 43px;
			background: green;
			border: 1px solid #CCCCCC;
			display: block;
			border-radius: 5px;
		}
		.sessionTitle:hover {
			background: white;
			
		}
		.sessionTitle img {
			float: left;
			padding-left: 18px;
			padding-top: 17px;
		}
		.detailInfo {
			display: block;
			width: 750px;
			padding: 20px 0;
			background: Lightblue;
			border-radius: 5px;
		}
		h3.white_detail {
			display: block;
			color: #FFF;
			font-size: 17px;
			margin-left: 20px;
			padding-left: 25px;
			margin-top: 12px;
			cursor: pointer;
		}
		

		p {
			font-family: Times;
			font-size: 17px;
			
		}	
		h1 {
			padding-left: 75px;

		}
		h6 {
			color:  #999;
			padding-left: 140px;
			
		}
		
		</style>

		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			// Detailed Info expand and collapse
			$(".detailInfo").hide();
			$(".sessionTitle").click(function() {
				if($(this).next(".detailInfo").css("display")=="none") {
					$(this).next(".detailInfo").show();
					$(this).find("img").attr("src", "");
				}
				else {
					$(this).next(".detailInfo").hide();
					$(this).find("img").attr("src", "");
				}
			});
		});
		</script>
	</head>
	<body>
		<h1>About the project</h1>
		<h6>(Click on desired section)</h6>
		<div class="sessionTitle">
			<img src="" />
			<h3 class="white_detail"><a href="#">What is our vision, what's the project about?</a></h3>
		</div>
		<div class="detailInfo">
			<p>In <b><em>Haiti</em></b>, everything purchased is done locally over 95% of the time. If you need to purchase something, you buy it in town (locally) but do we have all the resources our community (each town) needs ? It's pretty obvious that the answer is <em>no</em></p>
		</div>


		<div class="sessionTitle">
			<img src="" />
			<h3 class="white_detail"><a href="#">What are we going to accomplish?</a></h3>
		</div>
		<div class="detailInfo">
			<p>Firstly, provide a solution to the problem stated above. An online store where people from anywhere throughout Haiti can purchase products they need <em>( i envision to start up with selling products such as clothes, electronics, etc...)</em> but eventually, everything will be available for purchase ( whatever the poplulation is in need for). </p>
		</div>

		<div class="sessionTitle">
			<img src="" />
			<h3 class="white_detail"><a href="#">More on the project</a></h3>
		</div>
		<div class="detailInfo">
			<p>All they would need to do is go on the website provided and purchase the items they need and these items will be delivered at a location closest to them( to each one of them).</p>
		</div>
	</body>
</html>